/* esconder para no pagar el premium de electric blaze */
.QTrR4_AdSnqdMyHA8ZWB{
    visibility: hidden;
}
.ct5TeSX9VbTL8W_GmGtw{
    visibility: hidden;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: block;
    align-content: center;
}
nav{
    background-color: rgb(44, 9, 85);
    color: rgb(255, 255,255);
    font-size: 45px;
    padding: 15px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
nav a{
    border: none;
    text-decoration: none;
    padding: 6px;
    font-size: 32px;
    color: rgb(255,255,255);
    border-radius: 10px;
}
.portada{
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
    text-shadow: 5px 5px 8px #000;
    margin: 3%;
    width: 92%;
    height: 480px;
    padding: 1%;
    background: url(./img/fondo.jpg) no-repeat center center/cover;
}
.portada h2{
    padding: 5px;
    background-color: #230d2e94;
    font-size: 60px;
    border: 3px solid #fff;
    border-bottom: 0;
}
.portada p{
    padding: 5px;
    background-color: #230d2e94;
    font-size: 30px;
    border: 3px solid #fff;
    border-top: 0;
}
footer{
    color: rgb(255,255,255);
    display: grid;
    justify-items: center;
    padding: 20px;
    background-color: rgb(44, 9, 85);
}
h3{
    font-size: 50px;
}
#redes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#redes a{
    font-size: 22px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: inherit;
    text-decoration: none;
    margin-left: 0;
}
.bt{
    background-color: rgb(77, 18, 145);
}