.footer{
    font-size: 50px;
}
.contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-bt{
    font-size: 22px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: inherit;
    text-decoration: none;
    margin-left: 0;
    background-color: rgb(77, 18, 145);
}