
.cover{
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
    text-shadow: 5px 5px 8px #000;
    margin: 3%;
    width: 92%;
    height: 480px;
    padding: 1%;
    background: url(./img/fondo.jpg) no-repeat center center/cover;
}
.cover h2{
    padding: 5px;
    background-color: #230d2e94;
    font-size: 60px;
    border: 3px solid #fff;
    border-bottom: 0;
}
.cover p{
    padding: 5px;
    background-color: #230d2e94;
    font-size: 30px;
    border: 3px solid #fff;
    border-top: 0;
}