.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ccc;
    background-color: rgb(44, 9, 85);
    font-size: 30px;
    padding: 20px;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 5px;
}
.contact-item{
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 8px;
    background-color: rgb(77, 18, 145);
    border-radius: 4px;
    margin: 10px;
}
.contact-bt{
    color: #ccc;
    font-size: 22px;
    text-decoration: none;
}