
.cover{
    background-image: url(./fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    color: #fff;
    width: 100%;
    height: 80vh;
}
.filter-cover{
    backdrop-filter: blur(3px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cover-msg{
    padding: 30px;
    filter: drop-shadow(2px 2px #000);
}
.cover-msg-img{
    height: 45px;
    object-fit: cover;
}
.cover-msg-p{
    padding: 5px;
    font-size: 30px;
}