
.cover{ 
    background: url(./fondo.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 480px;
}
.cover-msg-h2{
    padding: 5px;
    font-size: 60px;
}
.cover-msg-p{
    padding: 5px;
    font-size: 30px;
}