
.nav{
    background-color: rgb(44, 9, 85);
    color: rgb(255, 255,255);
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.nav-items{
    display: flex;
    align-items: center;
}
.nav-items-a{
    border: none;
    text-decoration: none;
    padding: 6px;
    font-size: 32px;
    color: #ccc;
    transition: all .6s;
}
.nav-items-a:hover{
    color: #fff;
}