@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-family: "Inter", sans-serif;
  display: block;
}
:root::selection{
    background-color: rgba(77, 18, 145, 0.432);
}